*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* colori 
color-header:#FF6900;
bg-card:#E9E7E6;
bg-primary:#FFFFFF;
bg-sostenibilita:#008000;
bg-sale:#FF0000;
*/

/* header */
header{
    background-color:#FF6900 ;
    display:flex;

}

 .nav-section{
    width: 30%;
    height: 50px;
 }   
.genere>a{
    padding-left: 200px;
    padding-top:10px;
    text-decoration: none;
    color: white;
}



.nav-logo{
    width:40%;
    position:relative;
}
.nav-logo>img{
    position: absolute;
    right: 256px;
    top:10px;
    
}
.nav-icon{
    width: 30%;
    position: absolute;
    left:860px;
    top:10px;
}
/* fine hedaer */

/* main */
.container1{
    width: 100%;
    background-color:#FFFFFF ;
    height: 1000px;
    display: flex;
}
.card{
    width: calc(80%/3);
    height:400px;
    justify-content: center;
    margin-top: 20px;
    margin-left:50px;
    position:relative;
}
.first-img{
    width: 100%;
    background-color: #F1F1F1;
   
}
.heart{
    position: absolute;
    right:10px;
    width: 20px;
    height: 20px;
    background-color: white;
    
}